<div class="container-fluide">


    <div class="column">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                            <div class="col-lg-12" style="margin-bottom: 30px;">
                                <div class="appointmentschudule">
                                    <h1>Schedule An Appointment (Aman Panday)</h1>
                                </div>
                            </div>
                            <!-- <div class="col-lg-2">
                                <a routerLink="#"> <img src="assets/printer.png" width="20%" height="auto" alt="Avatar"></a>       
                            </div>  -->
                        
                     
                    </div>
                    <div class="Schedulinghead">
                        <h2>Yor Scheduling Favorites</h2>
                        </div>
                    <div class="row" style="padding-top: 10px;">
                     
                         
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Sick Visit : Texas Children's Pediatrics with AMINA HUSAIN MD</h5>
                                  <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                  <a routerLink="../book_appointment" class="btn btn-primary">Schedule Now</a>
                                </div>
                              </div>
                         </div>
                         <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Well Check Up: Texas Children's Pediatrics with AMINA HUSAIN, MD</h5>
                                  <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                  <a routerLink="../book_appointment" class="btn btn-primary">Schedule Now</a>
                                </div>
                              </div>
                         </div>
                         <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Sick Visit : Texas Children's Pediatrics with AMINA HUSAIN MD</h5>
                                  <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                  <a routerLink="../book_appointment" class="btn btn-primary">Schedule Now</a>
                                </div>
                              </div>
                         </div>
                         </div>



                         <div class="row" style="padding-top: 10px;">                    
                            <div class="col-lg-6">
                               <div class="row">
                                <div class="col-lg-12 Provider">
                                    <h2>Schedule With a Specific Provider</h2>
                                    <p>Choose a Provider Who Matches Your Needs</p>
                                </div>
                                <div class="col-lg-6">                                 
                                   
                                    <div class="cardnew" routerLink="../book_appointment" style="cursor: pointer;">
                                        <div class="card-body">
                                            <div class="appointmentprovider">  
                                                <img src="assets/3135715.png" height="auto" alt="Avatar">
                                                <h2>AMINA HUSAIN MD</h2>
                                            <p class="parmacyhead">Primary Care Provider Pediatrics </p>
                                           
                                            </div>
                                          <!--                                             
                                          <h5 class="card-title">Sick Visit : Texas Children's Pediatrics with AMINA HUSAIN MD</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          <a href="#" class="btn btn-primary">Schedule Now</a> -->
                                        </div>
                                      </div>
                                    
                                </div>
                                <div class="col-lg-6">                                 
                                   
                                    <div class="cardnew">
                                        <div class="card-body">
                                            <div class="appointmentprovider">  
                                                <img src="assets/img.jpg" height="auto" alt="Avatar">
                                                <h2>JOSEPH N CHORLEY, MD</h2>
                                            <p class="parmacyhead">Adolescent Medicine </p>
                                           
                                            </div>
<!--                                             
                                          <h5 class="card-title">Sick Visit : Texas Children's Pediatrics with AMINA HUSAIN MD</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          <a href="#" class="btn btn-primary">Schedule Now</a> -->
                                        </div>
                                      </div>
                                    
                                </div>

                                <div class="col-lg-6">                                 
                                   
                                    <div class="cardnew">
                                        <div class="card-body">
                                            <div class="appointmentprovider">  
                                                <img src="assets/icon-5359553_1280.webp" height="auto" alt="Avatar">
                                                <h2>SAPNA SINGH, MD</h2>
                                            <p class="parmacyhead">Pediatrics </p>
                                           
                                            </div>
<!--                                             
                                          <h5 class="card-title">Sick Visit : Texas Children's Pediatrics with AMINA HUSAIN MD</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          <a href="#" class="btn btn-primary">Schedule Now</a> -->
                                        </div>
                                      </div>
                                    
                                </div>
                               

                               </div>
                             </div>
                             <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 Provider">
                                        <h2>Tell us why you're coming in</h2>
                                        <p>Choose a specific reason for scheduling an a appointment</p>
                                    </div>
                                 <div class="col-lg-6">
                                     <div class="cardnewthree">
                                         <div class="card-body">
                                           <h5 class="card-title cardtitle">Appointment For New Specialty</h5>
                                           <p class="card-text">Make Appointment with specialty not listed hear</p>
                                          
                                         </div>
                                       </div>
                                 </div>
                                 <div class="col-lg-6">
                                     <div class="cardnewthree">
                                         <div class="card-body">
                                           <h5 class="card-title cardtitle">Flu Shot Clinic</h5>
                                           <p class="card-text">Click hear to make an appointment to recive only the flu shot</p>
                                           
                                         </div>
                                       </div>
                                 </div>
                                 <div class="col-lg-6">
                                    <div class="cardnewthree">
                                        <div class="card-body">
                                          <h5 class="card-title cardtitle">COVID-19 Vaccination</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cardnewthree">
                                        <div class="card-body">
                                          <h5 class="card-title cardtitle">Sick Visit: Texas Children's Pediatrics</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cardnewthree">
                                        <div class="card-body">
                                          <h5 class="card-title cardtitle">Well Check Up: Texas Children's Pediatrics</h5>
                                          <p class="card-text">Texas Children's Pediatrics Sugar Land</p>
                                          
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cardnewthree">
                                        <div class="card-body">
                                          <h5 class="card-title cardtitle">Video Visit: Texas Children's Pediatrics</h5>
                                          <p class="card-text">Video Appointment with your pediatrician or an available</p>
                                          
                                        </div>
                                      </div>
                                </div>
                             
 
                                </div>
                              </div>
                          
                             </div>



                </div>
                <div class="col-lg-3" >
                    <div class="container MainBlock">
                        <div class="appointStatus">
                          
                                <span>Related Links</span>
                            </div>
                           
                       
                        <div class="appoteam">  
                            <img src="assets/stethoscope.png" height="auto" alt="Avatar">
                            <p >e-Visit</p>
                        <!-- <p class="parmacyhead">primary Care Provider Pediatrucs
                            
                            <a routerLink="../book_appointment"><i aria-hidden="true" class="fa fa-calendar-o"style="font-weight: bold;"></i>  </a>
                            <a href="#2"><i aria-hidden="true" class="fa fa-envelope-o"style="font-weight: bold;"></i>  </a>
                              
                        </p> -->
                       
                        </div>
                    
                        <div class="appointmanage">
                          
                            <a href="#2">  <span>See Provider Details And Manage <i aria-hidden="true" class="fa fa-share"style="font-weight: bold;"></i> </span> </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      
    
   
    </div>
</div>