<div class="container">


    <div class="column">
        <div class="col-lg-12">
            <div class="appointmentschudule">
                <h1>Care Team And Recent Providers(Aman Panday)</h1>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
              
                <div class="col-lg-4" >
                    <div class="container MainBlock">
                                          
                        <div class="appoteam">
                            <img src="assets/3135715.png" height="auto" alt="Avatar">
                            <p >AMINA HUSAIN, MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs</p>
                       
                        </div>
                    
                        <div class="appoteam appointteams">
                            <img src="assets/icon-5359553_1280.webp" height="auto" alt="Avatar">
                            <p >CHRISTYN-JO MORRIS,PT</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs</p>
                       
                        </div>
                        <div class="appoteam appointteams">
                            <img src="assets/img.jpg" height="auto" alt="Avatar">
                            <p >JOSEPG N CHORLEY,MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs</p>
                       
                        </div>
                        <div class="appoteam appointteams">
                            <img src="assets/3135715.png" height="auto" alt="Avatar">
                            <p >SAPNA SINGH, MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs</p>
                       
                        </div>
                   
                    </div>
                </div>
                <div class="col-lg-8">

                    <div class="row">
                        <div class="col-sm-12 profile-header">
                          <div class="follow">
                            <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
                              <g>
                                <rect fill="none" id="canvas_background" height="62" width="62" y="-1" x="-1" />
                                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                                  <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                                </g>
                              </g>
                              <g>
                                <path transform="rotate(90 25.5,25.5) " id="svg_2" d="m0,51l0,-51l51,51l-51,0z" fill="#000" />
                                <path transform="rotate(-45 15,15) " id="svg_5" d="m8.05064,11.71204l3.23592,-3.23595l3.43747,3.43745l3.43748,-3.43745l3.23599,3.23595l-3.43748,3.43749l3.43748,3.43744l-3.23599,3.23599l-3.43748,-3.43752l-3.43747,3.43752l-3.23592,-3.23599l3.43743,-3.43744l-3.43743,-3.43749z"
                                fill="#fff" />
                              </g>
                            </svg>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="avatar"></div>
                              <span class="username">Vivek Vij</span>
                              <p>Dr. Vivek Vij is a pioneering liver transplant surgeon credited with developing living donor surgery and standardising safety protocols to achieve a 100% donor safety profile since the time of its inception in the country. He is the first surgeon from the Indian subcontinent to publish a series of laparoscopic Donor Hepatectomy in 'Liver Transplantation'. He is the founder of Liver Transplantation and Hepatobiliary Sciences in Fortis group of Hospitals, starting a highly successful liver transplant programme initially at its Noida centre and then at Mohali.</p>
                              
                              <span  class="time-right" tabindex="0">
                                <button routerlink="../appointment_details" class="messageview"><i class="fa fa-calendar-o">&nbsp; Schedule Appointment</i></button>
                              </span>
                              <span  class="time-right" tabindex="0" >
                                <button routerlink="../appointment_details" class="messageview "><i class="fa fa-envelope-o">&nbsp; Send Message</i> </button>
                              </span>
                              <p>
                                <a href="#2">
                                  <i aria-hidden="true" class="fa fa-eye-slash" style="font-weight: bold;"></i>&nbsp;Hide Provider</a>
                                </p>
                              <!-- <div class="social">
                                <i class="fa fa-facebook fa-lg fa-fw"></i>
                                <i class="fa fa-instagram fa-lg fa-fw"></i>
                                <i class="fa fa-twitter fa-lg fa-fw"></i>
                                <i class="fa fa-pinterest fa-lg fa-fw"></i>
                              </div> -->
                            </div>
                          
                          </div>
                          <div class="row">
                            <div class="col-md-12 user-views">
                              <img src="assets/imagedetaails.jpg" height="auto" alt="Avatar">
                              <h2 class="statusdetals">Profile Of VIVEK VIJ, MD Is Currently Not Available</h2>
                            </div>
                          </div>

                          <div  class="btnmoreappointment">
                            <button routerLink="../family_appointment" type="button" fdprocessedid="wd29bk">Show More Appointment Times</button>
                          </div>

                        </div>
                      </div>


                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="appointmentschudule">
                                <h1>Care Team And Recent Providers (Aman Panday)</h1>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
     </div>
</div>