<div class="container-fluid Maindivscroll">
    <div >
        <div class="familyhistory">
            <h1>Document Center(Deepak Kumar Dixit) </h1>
            <p>Please select the option that most closely matches the information you would like</p>
        </div>
        <!-- <div class="familyhistory2">
         <a routerLink="#"><i  aria-hidden="true" class="fa fa-print"></i></a> 
         <a routerLink="#"><i  aria-hidden="true" class="fa fa-question-circle"></i></a> 
        </div> -->
    </div>
   

    
    <div class="row">
        <div class="col-lg-6" >
            <div class="w3-card-4">
                <div class="w3-container BlockMain" >
                     <div class="row" style="padding-top: 10px;">
                        <div class="blockdetail" style="padding-bottom: 10px;">
                            <p style="font-size: 20px; color:rgb(23, 15, 146); font-weight: bold;" >Visit Records </p>
                            <p style="font-weight: bold;">Download and send visit summaries that would be helpful for a new provider, including details such as:</p>
                            <p>health issues</p>
                            <p>Medications </p> 
                            <p>allergies </p>
                            <p>Immunizations</p>
                            <p>Plan Of Care</p>
                            <i class="fa fa-info-circle" aria-hidden="true"></i> <span> Learn More </span>
                        </div>
                    </div>
                </div>
                <button class="w3-button w3-block boxfooter"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="w3-card-4">
                <div class="w3-container BlockMain" >
                     <div class="row" style="padding-top: 10px;">
                        <div class="blockdetail" style="padding-bottom: 10px;">
                            <p style="font-size: 20px; color:rgb(23, 15, 146); font-weight: bold;" >Requested Records </p>
                            <p style="font-weight: bold;">Download recods you specifically requested, such as:</p>
                            <p>Legal Information</p>
                            <p>Coordination of Care  </p> 
                            <p>Government Reporting </p>
                            <p>Worker's Comp Information</p>
                            <p>Accounting Disclosure </p>
                            <p>Visit And Health Summaries</p>
                            <i class="fa fa-info-circle" aria-hidden="true"></i> <span> Learn More </span>
                        </div>
                    </div>
                </div>
                <button class="w3-button w3-block boxfooter"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="w3-card-4">
                <div class="w3-container BlockMain" >
                     <div class="row" style="padding-top: 10px;">
                        <div class="blockdetail" style="padding-bottom: 10px;">
                            <p style="font-size: 20px; color:rgb(23, 15, 146); font-weight: bold;" >My Documents </p>
                            <p style="font-weight: bold;">Sign, View, Download, Any Print Documents You Have On File.</p>
                           
                            <i class="fa fa-info-circle" aria-hidden="true"></i> <span> Learn More </span>
                        </div>
                    </div>
                </div>
                <button class="w3-button w3-block boxfooter"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="w3-card-4">
                <div class="w3-container BlockMain" >
                     <div class="row" style="padding-top: 10px;">
                        <div class="blockdetail" style="padding-bottom: 10px;">
                            <p style="font-size: 20px; color:rgb(23, 15, 146); font-weight: bold;" >Who's Accessed My Record? </p>
                            <p style="font-weight: bold;">View Actions of People Who Have Accessed Your Record</p>
                        
                            <i class="fa fa-info-circle" aria-hidden="true"></i> <span> Learn More </span>
                        </div>
                    </div>
                </div>
                <button class="w3-button w3-block boxfooter"><i class="fa fa-trash-o" aria-hidden="true"></i>Remove</button>
            </div>
        </div>
    </div>
    


    </div>
    