<div class="top_header_wrapper">

    <div class="row" style="padding: 0px 7px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="top_header_add">
                <div class="header_logo" style="position: initial;">
                    <a routerLink="/approved" class="hidden-xs"><img src="assets/Helaxy logo.png" style="margin:5px; height: 45px; " alt="logo" title="logo" class="img-responsive"></a>
                </div>
            </div>
            <div style="float: right">
                <ul class="topbtn">
                    
                    <li class="has-mega gc_main_navigation"><a class="btn  btn-outline-primary" style="color: #000; font-weight: bold;" (click)="DEL()"><i style="border: 0px;" class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;LOG OUT</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>