<div class="container">
    <div class="column">
        <div class="col-lg-12">
          
<div class="col-lg-12">
    <div class="appointmentschudule">
        <h3>Appointment Details (Aman Panday)</h3>
    </div>
<div class="table-wrapper" style="margin-top: 30px;">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Tony B</td>
            <td>Back to school/ work note</td>
            <td>Viewed</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>JOSEPH N CHORLEY, MD</td>
            <td>Back to school/ work note</td>
            <td>Viewed</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Shanell T</td>
            <td>Back to school/ work note</td>
            <td>New</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>AMINA HUSAIN, MD</td>
            <td>School/ Work Correspondence</td>
            <td>Viewed</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Melissa G</td>
            <td>School/ Work Correspondence</td>
            <td>New</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>NELSON A DAVINO, MD</td>
            <td>School/ Work Correspondence</td>
            <td>New</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Robynn M</td>
            <td>School/ Work Correspondence</td>
            <td>New</td>
        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Nallely O</td>
            <td>School/ Work Correspondence</td>
            <td>New</td>        
        </tr>
        <tr style="text-align: center;">
            <a routerLink="../letter_details"><td>08/21/2023</td></a>
            <td>Nallely O</td>
            <td>School/ Work Correspondence</td>
            <td>New </td>
        
        </tr>
      
        <tbody>
    </table>
</div>


<div  class="btnmoreappointment">
    <button routerLink="../family_appointment" type="button">Back To The Home Page</button>
 </div>


</div>                 
                  
            </div>
    </div>
</div>