<div class="slider_main_wrapper">
    <div class="cc_slider_img_section">
        <div class="owl-carousel owl-theme">
            <div class="item cc_main_slide4 img-fluid">
                <div class="med_img_overlay 

                "></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                            <div class="cc_slider_cont1_wrapper">
                                <div class="cc_slider_cont1">
                                    <div class="medi">

                                        <h1 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">User<span>Guide</span></h1>
                                    </div>
                                    <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">When Every Second Counts, Count On Us</h2>
                                    <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn">Global Handwashing Day was observed at Fortis Hospital Anandapur, Kolkata on 15th October 2022. This International Hand Hygiene Day was …</p>
                                    <ul>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft"><a href="#">READ MORE</a></li>
                                        <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft" class="contactlist"><a href="#">CONTACT US</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="category_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                        <img src="assets/case-study.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_img">
                        <img src="assets/icon_11.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_txt">
                        <h1>OVERVIEW</h1>
                        <p>Healaxy Healthcare bagged 10 awards in various categories at the FICCI Medical Travel Value Awards 2019.</p>
                        <a href="about_us_corona.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                        <img src="assets/filters.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_img">
                        <img src="assets/icon_2.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_txt">
                        <h1>PREVENTION</h1>
                        <p>The awards, instituted by the Federation of Indian Federation of Indian Chambers of Commerce & Industry (FICCI) </p>
                        <a href="prevention.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="cat_about">
                    <div class="icon_wrapper">
                        <img src="assets/symptom.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_img cat_img_3">
                        <img src="assets/icon_3.png" alt="img" class="img-responsive">
                    </div>
                    <div class="cat_txt">
                        <h1>SYMPTOMS</h1>
                        <p>The COVID-19 virus affects different people in different ways.</p>
                        <a href="symptoms.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="about_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="abt_img abt_box">
                    <img src="assets/abt_img.jpg" alt="img" class="img-responsive">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 abt_section">
                <div class="abt_heading_wrapper">
                    <h1 class="med_bottompadder20">About Healaxy</h1>
                    <img src="assets/line.png" alt="title" class="med_bottompadder20">
                </div>
                <div class="abt_txt">
                    <h3>Healaxy Healthcare Limited – an IHH Healthcare Berhad Company</h3>
                    <p class="med_toppadder20">is a leading integrated healthcare services provider in India. It is one of the largest healthcare organisations in the country with 36 healthcare facilities (including projects under development), 4000 operational beds and over 400
                        diagnostics centres (including JVs). </p>
                </div>
                <div class="abt_chk med_toppadder30">
                    <div class="content">
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Spread from contact</span></li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>How easily the virus spreads</span></li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Who should be tested</span></li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Excellence in Cardiac Sciences</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>