<div class="container-fluide">


    <div class="column">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                            <div class="col-lg-10">
                                <div class="appointmentschudule">
                                    <h1>Appointment Details (Aman Panday)</h1>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a routerLink="#"> <img src="assets/printer.png" width="20%" height="auto" alt="Avatar"></a>       
                            </div> 
                        
                     
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-lg-4">
                      
                        <div class="student-profile">    
                            <div class="row">        
                            <div class="card shadow-sm" style="height: 55vh;">
                                <div class="card-header bg-transparent text-center">
                                <img class="profile_img" src="assets/3135715.png" alt="">
                                <h3>Well Check Up With  Aman Panday</h3>
                                </div>
                                <div class="card-body">
                                <p class="mb-0"><i aria-hidden="true" class="fa fa-clock-o"style="font-size:20px"></i>&nbsp;<strong class="pr-1 mapaddress">Thursday October 13, 2022 9:20 AM CDT (10 minutes)</strong><br><br></p>
                                <p><a href="#2"><i aria-hidden="true" class="fa fa-calendar-check-o"style="font-weight: bold;"></i>&nbsp;Add  to calender</a></p>
                                <p class="mb-0"><i aria-hidden="true" class="fa fa-map-marker"style="font-size:25px"></i>&nbsp;<span class="mapaddress">Texas Children's Pediatrics Sugar Land</span></p>
                                <p style="font-size: 14px; padding-left: 20px;">15400 Southwest Freeway Sugar Land TX 77478 281-491-3636</p>
                               
                                </div>
                                <div class="cancelappointment">
                                    <p><a href="#2"><i aria-hidden="true" class="fa fa-times"></i>&nbsp;Cancel Appointment</a></p>

                                </div>
                            </div>
                            </div>
                            </div>
  

                         </div> 
                        <div class="col-lg-8">

                            <div class="appointmentdate" style="margin-bottom: 30px;">
                                <h1>Prepare For Your Visit</h1>
                                <div class="appointmentdetails">
                                   <p>All questionnaires for this appointment will be available for you to answer on thursday october 06,2023</p>      
                                   <p>Save time at the clinic by fliiing out the following questionnaure:</p>       
                                   <p><a href="#2"><i aria-hidden="true" class="fa fa-calendar-check-o"style="font-weight: bold;"></i>&nbsp;Pediatric Patient Medical and Surgical History</a>&nbsp;(Not Started)</p>
                                   <p>Other actions you can take:</p>
                                   <a  routerLink="#2">  <span> <i aria-hidden="true" class="fa fa-share"style="font-weight: bold;"></i>Links created via FDI records need to have their names configured with strings manager</span> </a><br>
                                   <a  routerLink="#2">  <span> <i aria-hidden="true" class="fa fa-share"style="font-weight: bold;"></i>Links created via FDI records need to have their names configured with strings manager</span> </a>
                                   <!-- <p>Want an earlier time? <a routerLink="#">Get On The Wait List</a></p>
                                   <p>Want an earlier time? <a routerLink="#">Get On The Wait List</a></p> -->
                                </div>
                            </div>

                            <div class="appointmentdate" style="margin-bottom: 30px;">
                                <h1>Directions For Texas Children's Pediatrics Sugar Land</h1>
                                <div class="appointmentdetails">
                                   <p>FROM 59 S</p>      
                                   <p>EXIT WILLIAMS TRACE</p> 
                                   <p>END AT 15400 SOUTHWEST FREEWAY </p> 
                                   <p>281-291-2636</p> 
                                  
                                </div>
                            </div>

                            <div  class="btnmoreappointment">
                                <button routerLink="../Visit_Records" type="button">Back To Appointments and visits</button>
                             </div>

                        

                           
                         </div>
                         </div>

                </div>
                <div class="col-lg-4" >
                    <div class="container">
                    
                            <p-calendar [(ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
      
    
   
    </div>
</div>