<div id="mainWrapperDiv" class="page-wrapper">
    <app-header></app-header>
    <!-- <div style="position: absolute;z-index: 1040;" id="meetingSDKElement" appendTo="body"> -->
      <!-- Zoom Meeting SDK Rendered Here -->
    <!-- </div> -->
    <!-- <button (click)="getSignature()">zoom meeting</button> -->
    <div class="page-container">
      <div class="page-content-wrapper">
        <!-- <router-outlet></router-outlet> -->
        <app-mainframe></app-mainframe>
      </div>
    </div>
  </div><app-footer></app-footer>
  