<div class="container">
    <div class="column">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <div class="appointmentschudule">
                        <h3>Letter Details (Ishita)</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="appointmentschudule">
                        <a routerlink="#"><img src="assets/printer.png" width="10%" height="auto"
                                style="float: right;" alt="Avatar"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">              
                    <div class="card">
                        <div  class="card-body">
                            <a routerlink="#">
                                <img  src="assets/Helaxy logo.png" width="auto" height="100vh" alt="Avatar" >
                            </a>
                            <h5  class="card-title">SPORTS MEDICINE PHYSICAL THERAPY AT SPECIALTY CARE SUGAR LAND</h5>
                            <H3>15400 SOUTHWEST FWY</H3>
                            <H3>STE 100</H3>
                            <H3>SUGUAR LAND TX 77478</H3>
                            <H3>DEPT: 281-494-7010</H3>
                            <H3>5/31/2023</H3>
                            <!-- <a routerlink="../book_appointment" class="btn btn-primary"href="/approved/book_appointment">Schedule Now</a> -->
                            <div style="margin-top: 50px;">
                                <h5  class="card-title">School/Work Excuse</h5>
                                <H3>To: Guardian of ishita Dabra</H3>
                                <H3>6615 Comden Springs L</H3>
                                <H3>Sugar Land TX 77479</H3>
                                <H3>Via Print Locally</H3>                              
                            </div>

                            <div style="margin-top: 50px;">
                                <!-- <h5  class="card-title">School/Work Excuse</h5> -->
                                <H3>Name: Ishita Dabra</H3>
                                <H3>DOB: 9/23/2009</H3>                             
                            </div>

                            <div style="margin-top: 50px;">
                                <h5  class="card-title">To Whom It May Concem:</h5>
                                <H3>Ishita was seen for an appointment in the department of SPORTS MEDICINE PHYSICAL THERAPY AT SPECIALTY CARE SUGAR LAND on 08/6/2023 at Texas Children's Hospital. It Was necessary that keep this appointment for medical care.</H3>
                                                           
                            </div>
                            <div style="margin-top: 50px;">
                                <!-- <h5  class="card-title">To Whom It May Concem:</h5>     -->
                                <H3>Should you have any questions concerning this matter, please contact our office at</H3>
                                <H3>281-494-7010</H3>

                                <H3>Sincerely,</H3>
                                <H3>Tony D Booker</H3>
                                                           
                            </div>
                        </div>

                    </div> 
                    
                    
                    <div  class="btnmoreappointment">
                        <button routerLink="../appointment_letter" type="button">Back To Latter Page</button>
                     </div>
            </div>
        </div>
    </div>
</div>