<ng-templete *ngIf="displayMessageList">
<div class="col-lg-12" style="background-color: #f7f7f7;">
    <div class="row">
<!-- <div class="col-lg-2" style="padding:0px;">
    <div class="column">
   
        <app-messagesidebar></app-messagesidebar>
   
    </div>
</div> -->
<div class="col-lg-12" >
<div class="row Conversionmsg">
<div class="col-lg-6">
<h2 style="color: rgb(11, 11, 14); font-size: 1.5rem; font-weight: bold; padding-bottom: 10px;">Reminder</h2>
<p><b>Total Count:</b> {{messagelength}}</p>
</div>
<div class="col-lg-6">
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
</div>
<div class="mainmsgbox">


      <div class="comment" *ngFor="let boat of messagedatainbox">
        <div class=" MainBlock">
          <a  (click)="RenderComponent(boat.guid,boat.Conversation_id)" >
          <div class="appointStatus">
            <div class="msgdate" >
              
              </div>
            <img src="assets/3135715.png" width="50px" height="45px" alt="Avatar">
          
            <div class="ChatBox">
                <span>{{boat.FirstName}}</span>
                <p>{{boat.subject}}</p>
                <div class="appointtime" style="display: flex;">
                  <p>{{boat.message}}</p>
                 </div>
                 <div style="padding-right:2rem;">
                  <a target="_blank" download="" href="http://192.168.1.185/mams/helaxy/undefined/imagedetaails.jpg" class="ng-star-inserted">
                    <span  class="time-right">
                      <button class="messageview" *ngIf="boat.document==1">
                        <i  aria-hidden="true" class="fa fa-file-text-o"></i> imagedetaails.jpg
                      </button>
                    </span>
                  </a>
                 
                  <!-- <i  class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i> -->

                </div>
              </div>
            </div>
          </a>
          </div>  
      </div>
   
     




  </div>
</div>
    </div>
   </div>
      
  
  </ng-templete>
   <ng-templete *ngIf="displayMmessageBox">
    <app-messagedetails  [tab]="'Reminder'"  [Conversation_id]="Conversation_id"></app-messagedetails>  
    </ng-templete>