<div class="col-lg-12" style="background-color: #f7f7f7;">
  <div class="row">
<!-- <div class="col-lg-2" style="padding:0px;">
  <div class="column">
 
     <app-messagesidebar></app-messagesidebar>
 
  </div>
</div> -->
<div class="col-lg-12" >
<div class="row Conversionmsg">
<div class="col-lg-6">
<h2 style="color: rgb(11, 11, 14); font-size: 1.5rem; font-weight: bold; padding-bottom: 10px;">Reminder</h2>
<p><b>Total Count:</b> {{messageappintmentlength}}</p>
</div>
<div class="col-lg-6">
  <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
<div class="mainmsgbox">


    <div class="comment" *ngFor="let boat of remindermessage">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>{{boat.Transaction_Time}}</p>
            </div>
          <img src="assets/img.jpg" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>{{boat.FirstName}}</span>
              <p>{{boat.subject}}</p>
            </div>

            
            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
            <!-- <i class="fa fa-envelope-o" aria-hidden="true" style="font-weight:bold"></i> -->
              
             <p>{{boat.message}} </p>
             
            </div>

        </div>
      </a>
      <a href="../../../../../brochure.pdf" download><span  class="time-right"><button class="messageview"> <i class="fa fa-file-text-o" aria-hidden="true"></i>
          booture.pdf</button></span> </a> &nbsp;
        
        </div>  
    </div>
 
    <!-- <div class="comment">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>5 Nov 2022</p>
            </div>
          <img src="assets/3135715.png" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>Dr. Himanshu Singh </span>
              <p>Antibiotic Question</p>
            </div>

            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
           
            <p>Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... </p>
            
          </div>

        </div>
         
      </a>
      <a href="../../../../../6666.jpg" download><span  class="time-right"><button class="messageview"> <i class="fa fa-picture-o" aria-hidden="true"></i>
        test.jpg</button></span> </a>
        
        </div>  
    </div> -->

    <!-- <div class="comment">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>4 Dec 2022</p>
            </div>
          <img src="assets/img.jpg" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>Krishna Mohan Mishra</span>
              <p>Shoulder Exercises</p>
            </div>

            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
           
              
            <p>Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... </p>
            </div>

        </div>
         
      </a>
        <a href="../../../../../6666.jpg" download><span  class="time-right"><button class="messageview"> <i class="fa fa-picture-o" aria-hidden="true"></i>
          test.jpg</button></span> </a>
          
        </div>  
    </div> -->

    <!-- <div class="comment">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>4 Dec 2022</p>
            </div>
          <img src="assets/3135715.png" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>Himanshu</span>
              <p>Shoulder Exercises</p>
            </div>

            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
        
              
            <p>Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... </p>
            </div>

        </div>
      </a>
          
        <a href="../../../../../6666.jpg" download><span  class="time-right"><button class="messageview"> <i class="fa fa-picture-o" aria-hidden="true"></i>
          test.jpg</button></span> </a>
        
        </div>  
    </div> -->

    <!-- <div class="comment">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>4 Dec 2022</p>
            </div>
          <img src="assets/3135715.png" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>Aman Singh</span>
              <p>Shoulder Exercises</p>
            </div>

            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
           
              
            <p>Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... </p>
            </div>

        </div>
         
          </a>
        <a href="../../../../../6666.jpg" download><span  class="time-right"><button class="messageview"> <i class="fa fa-picture-o" aria-hidden="true"></i>
          test.jpg</button></span> </a>
       
        </div>  
    </div> -->
    <!-- <div class="comment">
      <div class=" MainBlock">
        <a routerLink="../messagedetails">
        <div class="appointStatus">
          <div class="msgdate" >
              <p>4 Dec 2022</p>
            </div>
          <img src="assets/img.jpg" width="50px" height="45px" alt="Avatar">
        
          <div class="ChatBox">
              <span>Deepak Dixit</span>
              <p>Shoulder Exercises</p>
            </div>

            <div class="appointtime" style="display: flex;">
            <i class="fa fa-paperclip" aria-hidden="true" style="font-weight:bold"></i>
            
              
            <p>Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... Hii Kayla, That inhaler was your old presxription. i had a new one send to your preferred pharmacy during your question... </p>
            </div>

        </div>
         
          </a>
        <a href="../../../../../6666.jpg" download><span  class="time-right"><button class="messageview"> <i class="fa fa-picture-o" aria-hidden="true"></i>
          test.jpg</button></span> </a>
        
        </div>  
    </div> -->

    
  </div>



</div>
  </div>
 </div>

