<footer class="footer-distributed">

    <div class="footer-right">

        <a routerLink="#"><i class="fa fa-facebook"></i></a>
        <a routerLink="#"><i class="fa fa-twitter"></i></a>
        <a routerLink="#"><i class="fa fa-linkedin"></i></a>
        <a routerLink="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" routerLink="">Home</a>

            <a routerLink="#">Blog</a>

            <a routerLink="#">Pricing</a>

            <a routerLink="#">About</a>

            <a routerLink="#">Faq</a>

            <a routerLink="#">Contact</a>

            <span style="text-align:center">Company Name &copy; 2023</span>

        </p>


    </div>

</footer>