<div class="container">


    <div class="column">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    
                    <div class="comment">
                        <div class="timeline2"></div>
                        <div class="circle2">
                            <p class="Textalginment">D</p>
                        </div>
                        <h3 class="pasientName">Deepak Dixit</h3>
                        <div class="container MainBlock">
                            <div class="appointStatus">
                                <i class="fa fa-folder-open" style="font-weight:bold" aria-hidden="true"></i>
                                <span> Appointment Canceled</span>
                            </div>
                            <img src="assets/bandmember.jpg" width="60px" height="45px" alt="Avatar"
                                style="width:100%;">
                            <div class="MainSlogan">
                                <p>Your Care Team1</p>
                            </div>

                            <div class="ChatBox">
                                <p>Hello. How are you today?</p>
                            </div>

                            <span class="time-right" routerLink="../appointment_details"><button class="messageview">View Message</button></span>
                            <div class="BoxFooter">
                                <a routerLink="../massage"><i class="fa fa-envelope-o" aria-hidden="true" style="font-weight:bold"></i>
                                    <span>View All (20)</span>
                                </a>
                            </div>
                        </div>


                        <div class="MainBlocktime">
                            <div class="appointtime">
                                <img src="assets/schedule.png" width="40px" height="40px" alt="Avatar"
                                    style="width:100%;">

                                <h2>Well Check Up</h2>

                            </div>
                            <div style="height: 60px;">

                                <div class="appointdate">
                                    <p>Nov</p>
                                    <h2 style="color: blue; font-size: 30px; font-weight: bold;">30</h2>
                                    <p>Wed</p>
                                </div>

                                <div class="appointdetails">
                                    <div class="appointmentclock">
                                        <i class="fa fa-clock-o" aria-hidden="true"> </i>
                                        <span>&nbsp; Arrive By 1:00 PM CDT</span>
                                    </div>
                                    <div class="appointmentclock">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <span>&nbsp; Sports Medicine at Specialty Care Sugar Land</span>
                                    </div>
                                    <div class="appointmentclock">
                                        <i class="fa fa-user-md" aria-hidden="true"></i>
                                        <span>&nbsp; With JOSEPH N CHORLEY </span>
                                    </div>
                                </div>


                            </div>

                            <span routerLink="../appointment_details" class="time-right"><button class="messageview">View Details</button></span>
                            <div class="BoxFooter1">
                                <!-- <a href="#"><i class="fa fa-envelope-o" aria-hidden="true" style="font-weight:bold">&nbsp; View All (20) </i></a>  -->

                            </div>
                        </div>



                        <div class="MainBlocktime">
                            <div class="appointtime">
                                <img src="assets/mail.png" width="10px" height="40px" alt="Avatar"
                                    style="max-width:45px ;">   
    
                                <h2>New Letter Received Wednesday August 31,2023 from Tony B</h2>
    
                            </div>
                            <span routerLink="../appointment_letter" class="time-right"><button class="messageview">View Letter</button></span>
                          
                            <div class="BoxFooter">
                                <a routerLink="../massage"><i class="fa fa-envelope-o" aria-hidden="true" style="font-weight:bold"></i>
                                    <span>View All (20)</span>
                                </a>
                            </div>
                            
                        </div>

                        <div class="MainBlocktime">
                            <div class="appointtime">
                                <img src="assets/notification.png" width="10px" height="40px" alt="Avatar"
                                    style="max-width:45px ;">   
    
                                <h2>Human Papilloma virus vaccine (HPV) is overdue</h2>
    
                            </div>
                            <span routerLink="../appointment_letter" class="time-right"><button class="messageview">View Details</button></span>
                          
                            <div class="BoxFooter1">
                              
                            </div>
                            
                        </div>

                        <div class="MainBlocktime">
                            <div class="appointtime">
                                <img src="assets/notification.png" width="10px" height="40px" alt="Avatar"
                                    style="max-width:45px ;">   
    
                                <h2>Influenza Vaccine is overdue.</h2>
    
                            </div>
                            <span routerLink="../appointment_letter" class="time-right"><button class="messageview">View Details</button></span>
                          
                            <div class="BoxFooter1">
                              
                            </div>
                            
                        </div>

                        

                    </div>
                </div>
                <div class="col-lg-4" >
                    <div class="container MainBlock">
                        <div class="appointStatus">
                          
                                <span>Deepak Care Team and Recent Providers</span>
                            </div>
                           
                       
                        <div class="appoteam">
                            <img src="assets/bandmember.jpg" height="auto" alt="Avatar">
                            <p >AMINA HUSAIN, MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs
                            
                            <a routerLink="../book_appointment"><i aria-hidden="true" class="fa fa-calendar-o"style="font-weight: bold;"></i>  </a>
                            <a href="#2"><i aria-hidden="true" class="fa fa-envelope-o"style="font-weight: bold;"></i>  </a>
                              
                        </p>
                       
                        </div>
                    
                        <div class="appoteam appointteams">
                            <img src="assets/bandmember.jpg" height="auto" alt="Avatar">
                            <p >CHRISTYN-JO MORRIS,PT</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs
                            
                            <a routerLink="../book_appointment"><i aria-hidden="true" class="fa fa-calendar-o"style="font-weight: bold;"></i>  </a>
                            <a href="#2"><i aria-hidden="true" class="fa fa-envelope-o"style="font-weight: bold;"></i>  </a>
                              
                        </p>
                       
                        </div>
                        <div class="appoteam appointteams">
                            <img src="assets/bandmember.jpg" height="auto" alt="Avatar">
                            <p >JOSEPG N CHORLEY,MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs
                            
                            <a routerLink="../book_appointment"><i aria-hidden="true" class="fa fa-calendar-o"style="font-weight: bold;"></i>  </a>
                            <a href="#2"><i aria-hidden="true" class="fa fa-envelope-o"style="font-weight: bold;"></i>  </a>
                              
                        </p>
                       
                        </div>
                        <div class="appoteam appointteams">
                            <img src="assets/bandmember.jpg" height="auto" alt="Avatar">
                            <p >SAPNA SINGH, MD</p>
                        <p class="parmacyhead">primary Care Provider Pediatrucs
                            
                            <a routerLink="../book_appointment"><i aria-hidden="true" class="fa fa-calendar-o"style="font-weight: bold;"></i>  </a>
                            <a href="#2"><i aria-hidden="true" class="fa fa-envelope-o"style="font-weight: bold;"></i>  </a>
                              
                        </p>
                       
                        </div>
                        <div class="appointmanage">
                          
                            <a routerLink="../careteamprovider">  <span>See Provider Details And Manage <i aria-hidden="true" class="fa fa-share"style="font-weight: bold;"></i> </span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="comment">
        <div class="timeline1"></div>
        <div class="circle1"><p class="Textalginment">D</p></div>
        <h3 class="pasientName">Deepak Dixit</h3>
        <div>
            <i class="fa fa-ravelry" aria-hidden="true">Nothing New To Show</i>
            <i class="fa fa-bug Maindiv" aria-hidden="true"></i>
            <span style="color: #5271e4; font-weight: bold;">&nbsp; Nothing New To Show</span>
        </div>
       
      </div> -->

      <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8">
                <div class="comment">

                    <div class="timeline3"></div>
                    <div class="circle3">
                        <p class="Textalginment">B</p>
                    </div>
                    <h3 class="pasientName">Brind Kushwaha</h3>
                    
                    <div class="container MainBlock">
                        <div class="appointStatus">
                            <i class="fa fa-folder-open" style="font-weight:bold" aria-hidden="true"></i>
                            <span> Appointment Canceled</span>
                        </div>
                        <img src="assets/bandmember.jpg" width="60px" height="45px" alt="Avatar"
                            style="width:100%;">
                        <div class="MainSlogan">
                            <p>Your Care Team</p>
                        </div>

                        <div class="ChatBox">
                            <p>Hello. How are you today?</p>
                        </div>

                        <span class="time-right"><button class="messageview">View Message</button></span>
                        <div class="BoxFooter">
                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true" style="font-weight:bold"></i>
                                <span>View All (20)</span>
                            </a>
                        </div>
                    </div>


                    <div class="MainBlocktime">
                        <div class="appointtime">
                            <img src="assets/schedule.png" width="40px" height="40px" alt="Avatar"
                                style="width:100%;">

                            <h2>SPM EST </h2>

                        </div>



                        <div style="height: 60px;">

                            <div class="appointdate">
                                <p>Nov</p>
                                <h2 style="color: blue; font-size: 30px; font-weight: bold;">30</h2>
                                <p>Wed</p>
                            </div>

                            <div class="appointdetails">
                                <div class="appointmentclock">
                                    <i class="fa fa-clock-o" aria-hidden="true"> </i>
                                    <span>&nbsp; Arrive By 1:00 PM CDT</span>
                                </div>
                                <div class="appointmentclock">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <span>&nbsp; Sports Medicine at Specialty Care Sugar Land</span>
                                </div>
                                <div class="appointmentclock">
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                    <span>&nbsp; With JOSEPH N CHORLEY </span>
                                </div>
                            </div>


                        </div>

                        <span routerLink="../appointment_details" class="time-right"><button class="messageview">View Details</button></span>
                        <div class="BoxFooter1">
                        </div>
                    </div>


              


                </div>
            </div>
          
        </div>
    </div>
   
    </div>
</div>