.column {
    height: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;  /* stacks the left and right headers above the bottom content */
  }
  
  #left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
  }
  .top-right {
    flex-shrink: 0;
    display: flex;
  }
  
  ul {
   
    list-style: none;
  }
  .Sidebar{
    background-color: azure;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: #f3eded;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 0.938rem;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: rgb(243, 237, 237);
    color: black;
  }
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  
  .navicon{
    background-color: #5271e4;
    padding: 10px;
    border: 0px;
    border-radius: 50%;
    color: #fff;
  }
.mainSidebar{
  height: 87.5vh; 
  bottom: 0px;
}
@media (max-width: 1366px) {
  .mainSidebar{
    height: 82vh; 
    bottom: 0px;
  }
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 255px;
  background:#f7f7f7;
  color: #000;
  transition: all 0.3s;
  margin-top: 25px;
  height: 82vh;
  -webkit-box-shadow: 14px 9px 5px -7px rgba(0,0,0,0.1);
  -moz-box-shadow: 14px 9px 5px -7px rgba(0,0,0,0.1);
  box-shadow: 14px 9px 5px -7px rgba(0,0,0,0.1);

}
@media screen and (max-width: 768px) {
  #sidebar {
  margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
#sidebar {
  height: 72vh;
}
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
  
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.0rem;
  display: block;
  border-bottom: 1px solid #ddd;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
  border-left: 3px solid #000;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #7386D5;
  background: #fff;
  border-left: 3px solid #000;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 10px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}


a.article,
a.article:hover {
  background: #5271e4 !important;
  color: #fff !important;
}

#inboxSubMenu li a{
  background: #c6c6cd !important;
  color: rgb(49, 49, 49) !important;
}

#inboxSubMenu li a:hover{
  background: #5271e4 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: 0px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}
.mainsection{
   color: black;
font-size: 20px;
font-weight: bold;
padding: 10px 15px;
-webkit-box-shadow: 6px 13px 61px -13px rgba(0,0,0,0.26);
-moz-box-shadow: 6px 13px 61px -13px rgba(0,0,0,0.26);
box-shadow: 6px 13px 61px -13px rgba(0,0,0,0.26);
}




.image-upload>input {
  display: none;
}
input[type=email], select {
  width: 100%; 
  
  padding: 8px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 
input[type=text], select {
  width: 100%; 
  padding: 8px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.iconaction{
  font-size: 25px;
  padding: 0px 15px;
  cursor: pointer;
}

.iconaction:hover{
  font-size: 25px;
  padding: 0px 15px;
  cursor: pointer;
  color: #5271e4;
}
.linkshow{
  cursor: pointer;
}
.sidebarmainbar{
 width: 100%;
  border-right: 1px solid rgb(219, 219, 219);
}
/* .rightsection{ */
  /* width: 95%;
  /* overflow: auto; */
  /* margin-top: -30px; */ 

  
/* } */
@media only screen and (max-width: 768px) {
.rightsection{
  width: 95%;
  overflow: auto;
  margin-top: 0px;
}
}
.sidebarmain{
  margin-left: 10px;
    font-size: 20px;
    color: #fff;
    background: #5271e4;
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.mobiletext{
  padding-top: 3%;
}

@media only screen and (max-width: 768px) {
  .mobiletext{
    padding-top: 28%;
  }
}
.totalnumber{
  float: right;
  padding-right: 10px;
  font-size: 13px;
  background-color: #5271e4;
  font-weight: bold;
  border: 0px;
  /* border-color: #5271e4; */
  border-radius: 30%;
  padding: 2px 9px 2px 8px;
  color: #fff;
}

.submenu {
  display: none;
}

.submenu.show {
  display: block;
}


.shifted {
  margin-left: 10%;
}
.content {
  transition: margin-left 0.3s ease;
}

.content-expanded {
  margin-left: 0;
}

.content-collapsed  {
  margin-left: 250px; /* Adjust the width of the sidebar as needed */
}
